@model dynamic
@using HtmlAgilityPack
@{
    var doc = new HtmlDocument();
    doc.LoadHtml(Model.value.ToString());
    var iframeNode = doc.DocumentNode.FirstChild;

    iframeNode.Attributes.Add("class", "embed-responsive-item");
}


<div class="embed-responsive embed-responsive-16by9">
    @Html.Raw(doc.DocumentNode.InnerHtml)
</div>
